<phpunit bootstrap="test/Horde/Icalendar/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="icalendar">
      <directory>test</directory>
    </testsuite>
  </testsuites>
    <source>
      <include>
        <directory suffix=".php">src</directory>
      </include>
    </source>
</phpunit>
